[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
virtualenv = "*"
black = "*"
faker = "*"
playwright = "*"
pytest-playwright = "*"
pip = "*"

[dev-packages]

[requires]
python_version = "3.12"
